@import 'tailwindcss';
@plugin "daisyui" {
  themes: light --default, dark;
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: #2d323f;
  max-width: 100vw;
}

/*  Mobile (menor a 640px)  */
@media (max-width: 639px) {
  html,
  body {
    overflow-x: hidden;
  }
}

.border-card {
  border: 1px solid;
  border-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 20%,
      rgba(255, 255, 255, 0.33),
      rgba(0, 0, 0, 0) 80%
    )
    30;
}

/* gradient-animation.css */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.f-hero {
  position: relative;
  background-image: url('./assets/fondo.png');
  background-size: cover;
  background-position: center;
  overflow: hidden;
  height: 300px;
}

.f-hero::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #101828;
  opacity: 0.9;
  z-index: 1;
}

@keyframes cursorBlink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.cursor-blink {
  position: absolute;
  margin-top: 2px;
  animation: cursorBlink 1s step-end infinite;
}

.f-man {
  mask-image: linear-gradient(black 80%, transparent);
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-33.33%);
  }
}

@keyframes marquee-reverse {
  0% {
    transform: translateX(-33.33%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}

.animate-marquee-reverse {
  animation: marquee-reverse 35s linear infinite;
}

